body{
    background-color: rgb(252, 168, 255);
    -webkit-text-stroke: 0.5px black;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
}

h1{
    text-emphasis: bold;
    color:rgb(110, 219, 255);
    font-size: 60px;
    text-align:center;
}

main{
    background-color: rgb(255, 112, 243);
    padding: 0.5px 0% 1% 1%;
    border-color: white;
    border: solid 10px
}

h2{
    text-transform:capitalize;
    text-indent: 20%;
}

dt{
    font-size:larger;
    text-indent: 4%;
    text-transform:capitalize;
}

dd{
    font-family:Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.75px black;
    -webkit-text-fill-color: rgb(83, 83, 83);
    font-size: 25px;
    text-indent: -2%;
}